<section>
    <form >
        <div class="form-group">
            <label for="inputempName">Enter Name</label>
            <div>
                <input type="text" class="form-control" ng-model="empName" placeholder="Enter Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputempDesignation">Select Designation</label>
            <div>
                <select ng-model="empRole" class="form-control" ng-options="designation for designation in designationList"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputempManagerID">Enter Joining Date</label>
            <div>
                <input type="date" class="form-control" ng-model="empJoiningDate" placeholder="Enter Joining Date">
            </div>
        </div>
        <div class="form-group">
            <label for="inputempDesignation">Select Manager</label>
            <div>
                <select ng-model="empManagerID" class="form-control" ng-options="emp for emp in empIDList">,</select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputempManagerID">Enter Salary</label>
            <div>
                <input type="number" class="form-control" ng-model="empSalary" placeholder="Enter Salary">
            </div>
        </div>
        <div class="form-group">
            <label for="inputempManagerID">Enter Commision</label>
            <div>
                <input type="number" class="form-control" ng-model="empCommision" placeholder="Enter Commision">
            </div>
        </div>
        <div class="form-group">
            <label for="inputempManagerID">Select Department No</label>
            <div>
                <select ng-model="empDepartName" class="form-control" ng-options="department for department in departmentList"></select>
            </div>
        </div>
        <div class="form-group">
            <div>
                <button type="button" id="addButton" ng-click="Add($event)" class="btn btn-primary" >Add</button>
            </div>
        </div>
    </form>

        <button class="btn btn-primary" ng-click="showData()">Get Data</button>
</section>